@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./config";

// Navbar
nav {
  .network {
    a {
      background-color: $color_1;
      .fa-brands {
        color: white;
      }

      &:hover {
        background-color: white;
        border: 1px solid $color_1;
        .fa-brands {
          color: $color_1;
        }
      }
    }
  }
}

.contact-form {
  .network {
    a {
      background-color: white;
      .fa-brands {
        color: $color_1;
      }

      &:hover {
        background-color: $color_1;
        // border: 1px solid white;
        .fa-brands {
          color: white;
        }
      }
    }
  }
}

.footer {
  .network {
    a {
      background-color: white;
      .fa-brands {
        color: #374151;
      }

      &:hover {
        background-color: #374151;
        .fa-brands {
          color: white;
        }
      }
    }
  }
}

// Header
.header {
  max-width: 100%;
  height: 100vh;
  // background: linear-gradient(to right, #026077, rgba(255, 255, 255, 0.164)),
  //   url("./../../public/assets/slide.webp");
  background: url("./../../public/assets/slide.webp");
  background-size: cover;
  background-position: center;
}

// activities
.activities {
  .activities-ctn {
    .activity-card {
      width: 380px;
      height: 420px;
      // min-width: 350px;
      transform: translateY(-20px);
      display: grid;
      grid-template-rows: 25% 20% 45% 10%;

      @media screen and (max-width: 850px) {
        width: 90vw;
        height: 370px;
      }
    }
  }
}

// missions
.mission {
  background-color: #eff6f2;
  padding-top: 50px;
  padding-bottom: 50px;
  .ctn {
    gap: 10px;
    .left {
      width: 50%;

      img-ctn {
      }
    }
    .right {
      width: 50%;

      a {
        width: max-content;
        padding: 10px 20px;
        background-color: $color_1;
        color: $color_4;
      }
    }
  }
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("./../../public/assets/workspace-1280538_1280.webp");

  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 25px 0;

  h3 {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgb(55, 54, 54);
  }

  .ctn {
    height: 250px;
    a {
      padding: 10px 20px;
      width: 230px;
      margin: 0 auto;

      border: 3px solid white;

      @media screen and (max-width: 850px) {
        font-size: 16px;
        padding: 10px 5px;
      }

      .arrow-right {
        font-size: 26px;
      }

      &:hover {
        .arrow-right {
          transform: translateX(5px);
        }
      }
    }
  }
}

// Team
.team {
  .card-ctn {
    .t-card {
      .top {
        margin-bottom: 8px;
        .img-ctn {
          width: 85px;
          height: 85px;
          border-radius: 360px;
          overflow: hidden;
          border: 3px solid $color_1;
        }
      }
    }
  }
}

// Attouts
.asset {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $color_6;
  height: max-content;
  .ctn {
  }
}

.a-title {
  height: 250px;

  @media screen and (max-width: 650px) {
    height: 170px;
  }
}
// contact-form
.contact-form {
  @media screen and (max-width: 900px) {
    box-shadow: none;
  }
  .form-box {
    @media screen and (max-width: 900px) {
      width: 85%;
    }
    @media screen and (max-width: 850px) {
      display: grid;
      width: 100%;
    }

    .address {
      width: 45%;
      display: grid;
      grid-template-rows: 80% 20%;
      align-items: center;

      @media screen and (max-width: 850px) {
        display: none;
      }
    }

    .form-ctn {
      width: 55%;

      @media screen and (max-width: 850px) {
        width: 100%;
        padding: 5px;
      }

      .form {
        width: 100%;
        input[type="text"],
        textarea {
          width: 100%;
          border: 1px solid rgb(107, 123, 136);
          outline: none;
          border-radius: 10px;
          margin-top: 20px;
          padding: 10px;

          &:focus {
            background-color: rgb(223, 229, 235);
          }
        }
        textarea {
          resize: none;
        }
      }
    }
  }
  .fa-brands {
    color: $color_1;
  }
}

.footer {
  background-color: #282f3b;

  hr {
    height: 1.5px;
    background-color: #6b7280;
    border: none;
  }
  .f-center {
    padding: 10px 0;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    > div {
      padding: 10px 25px;
    }
  }
}

.network {
  a {
    width: 28px;
    height: 28px;
    border-radius: 360px;
    background-color: #e2e8f0; // #f1f5f9;

    // i {
    //   &:hover {
    //     transform: translateY(-3px);
    //     transition: all 200ms ease-in-out;
    //   }
    // }

    @media screen and (max-width: 700px) {
      width: 28px;
      height: 28px;
    }
  }
}

.go-totop {
  z-index: 300;
  visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: 15px;
  padding: 20px;
}

.a-title {
  text-shadow: 1px 1px 2px gray;
  color: white;
}
